.root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titleLabel {
    font-size: 70px;
    color: white;
    margin-bottom: 30px;
}

.button-container {
    width: 20%;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

Button {
    width: 20%;
    height: 80px;
    margin: 20px;
    font-size: 60px;
    transition: background-color 0.15s, scale 0.1s;
    -unity-background-image-tint-color: rgb(200, 200, 200);
    opacity: 1;
    transition: scale 0.1s, -unity-background-image-tint-color 0.1s;
}

Button:hover {
       scale: 1.1 !important;
    -unity-background-image-tint-color: rgb(255, 255, 255) !important;
    
    border-color: rgb(255, 255, 0) !important;
    border-width: 4px !important;
    
    color: white !important;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(255, 255, 0);
    
    opacity: 1 !important; 
}

Button:active {
    background-color: orange;
    scale: 0.95;
    -unity-background-image-tint-color: rgb(131, 124, 99);
}

.unity-text-element {
}
